@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #E6EEFF, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.main {
  width: 360px;
  background-color: #fff;
  border-radius: 20px;
  border: #fff 7px solid;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF3FD;
  border-radius: 20px 20px 0px 0px;
  height: 80px;
  padding-inline: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #4C82EF;
  align-items: center;
}

.photo {
  position: relative;
}

.photo .active {
  position: absolute;
  background-color: #3FE225;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  right: 3.5px;
  bottom: 8px;
}

.info .heading {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.info p {
  font-size: 15px;
  font-weight: 500;
}

.status {
  font-size: 15;
  font-weight: 500;
  color: #4C82EF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.status .active {
  background-color: #3FE225;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.chat-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-recieved {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.message-recieved .message {
  max-width: 220px;
  background: linear-gradient(135deg, #E5EEFF, #FAFBFF);
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
}

.message-recieved .time {
  margin-left: 10px;
  font-size: 10px;
}

.message-sent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.message-sent .message {
  background-color: #DCF7C5;
  max-width: 183px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
}

.message-sent .time {
  margin-right: 10px;
  font-size: 10px;
}

.tags-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tags-section p {
  color: #949494;
  font-size: 13px;
}

.tags-container {
  position: relative;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 330px;
  overflow-x: scroll;
}

.tag {
  border: #4C82EF 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #F2F7FF;
  text-wrap: nowrap;
}

.tag h1 {
  font-weight: 500;
  font-size: 13px;
  color: #4C82EF;
}

.tags-container .arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 5px;
  color: #4C82EF;
  font-size: 20px;
  font-weight: 500;
}

.product {
  background-color: #fff;
  padding: 10px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  margin-bottom: 10px;
}

.product-img {
  width: 70px;
  height: 50px;
  border-radius: 5px;
}


.product-title span {
  font-weight: 600;
  font-size: 13px;
  color: #333333;
}

.product-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.product p {
  font-size: 12px;
  color: #949494;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}




.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #EFF3FD, rgb(239, 243, 253, 0.3));
  border-radius: 0px 0px 20px 20px;
  align-items: center;
}

.msg-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.msg-section .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  color: #949494;
  font-size: 16px;
  border-radius: 10px;
  border: #E3ECFF solid 1px;
}

.input input {
  outline: none;
  font-family: "Poppins";
  border: none;
  font-size: 13px;
  color: #949494;
  padding-inline: 15px;
}

.input input::placeholder {
  font-family: "Poppins";
  font-size: 13px;
  color: #949494;
}

.msg-section button {
  padding: 12px 30px;
  border: none;
  background-color: #4C82EF;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 13px;
}

.footer span:nth-child(1) {
  color: #B1B1B1;
}

.footer span:nth-child(2) {
  color: #7A7F8C;
  font-weight: 600;
}